header {
    padding: 2rem 0;
    box-shadow: 0px 0px 5px 0px #CCCCCC;
    position: relative;
    background: #838383;
    z-index: 999;

    @media screen and (max-width:540px){
        padding-bottom: 2rem;
    }

    .container {
        width: 70%;
        max-width: 1500px;
        margin: auto;
        display: flex;
        justify-content: center;

        @media screen and (max-width:1820px){
            margin: auto;
        }

        .menu-toggle-desk {
            display: grid;
            grid-template-columns: 4rem 1fr;
            grid-gap: 5rem;
            align-items: center;

            @media screen and (max-width:540px){
                display: none;
            }

            .logo {
                width: 100%;
                display: grid;

                img {
                    width: 100%;
                }
            }

            nav ul {
                display: flex;
                gap: 0 3rem;

                li a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    transition: all 0.1s;

                    &:hover {
                        color: $color-secondary;
                        border-bottom: 2px solid $color-secondary;
                    }
                }
            }
        }

        .hamburger {
            position: relative;
            width: 50px;
            height: 50px;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            padding: 12px;
            
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              border-radius: 20px;
              background: #385246;  /* fallback for old browsers */
              background: -webkit-linear-gradient(to right, $color-primary, $color-secondary);  /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to right, $color-primary, $color-secondary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              transform: rotate(0deg);
              transition: all 0.4s cubic-bezier(0.54, -0.10, 0.57, 0.57);
            }
            
            .hamburger-input {
              position: absolute;
              opacity: 0;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              cursor: pointer;
            }
            
            .hamburger-line {
              width: 100%;
              background: #fff;
              height: 2px;
              display: block;
              border-radius: 6px;
              transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
              position: relative;
              
              &.first,
              &.third {
                width: 50%;
              }
              
              &.third {
                margin-left: 50%;
                transform-origin: left;
              }
            }
          }

          .menu-toggle-mobile {
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 9999;

            @media screen and (min-width:540px){
                display: none;
            }

            .logo {
                width: 20%;
                display: grid;

                img {
                    width: 100%;
                }
            }
          }
          
          .menu-button-wrapper {
            position: relative;
            display: inline-block;
            
            .item-list {
              position: absolute;
              top: 70px;
              transform: translateX(0) scale(0);
              transform-origin: center;
              transition: all 0.4s cubic-bezier(0.54, -0.10, 0.57, 0.57);
              background-color: $color-primary;
              color: #fff;
              width: calc(100vw - 10px);
              left: -23vw;
              padding: 15px 0;
              text-align: left;
              border-radius: 100px;
              font-weight: 300;
              opacity: 0;
              user-select: none;
              z-index: 999;
              
              div {
                padding: 7px 30px;
                cursor: pointer;
                
                a {
                    color: #fff;
                    font-size: 1.25em;
                    text-decoration: none;
                }
              }
            }
            
            .menu-button {
              position: absolute;
              width: 50px;
              height: 50px;
              left: 0;
              z-index: 2;
              opacity: 0;
              cursor: pointer;
            }
          }
          
          .menu-button {
            &:checked ~ .item-list {
              transform: translateX(-50%) scale(1);
              border-radius: 20px;
              opacity: 1;
              user-select: auto;
            }  
            
            &:checked ~ .icon-wrapper .hamburger-line.second {
              transform: rotate(-45deg); 
            }
          
            &:checked ~ .icon-wrapper .hamburger-line.first {
              transform: translate(2px, 8px) rotate(-135deg);
            }
          
            &:checked ~ .icon-wrapper .hamburger-line.third {
              transform: translate(11px, -3px) rotate(-135deg);
            }
            
            &:checked ~ .icon-wrapper .hamburger:before {
              transform: rotate(45deg);
            }
          }          
    }
}