//COLOR START
    $color-primary: #7b542c;
    $color-secondary: #ecbb19;
    $color-terciary: #fff;
    $color-whatsapp: #01bb29;
    $degrade-primary: linear-gradient(40deg, $color-primary, $color-secondary, $color-primary);
//COLOR END 

//FONT START
    @import 'fonts';

    .title {
        letter-spacing: -1px !important;
    }

    .subtitle {
        font-size: 1.2rem;
        margin-top: 1rem;

        @media screen and (min-width:541px){
            font-size: 1.25rem;
        }
    }

    .text {
        font-size: 1.2rem;
    }
//FONT END

//ELEMENTS START
    .container {
        width: 70%;
        max-width: 1500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        
        @media screen and (max-width:1380px){
            max-width: 70%;
        }

        @media screen and (max-width:540px){
            width: 90%;
            max-width: 90%;
            flex-direction: column;
        }
    }

    .button {
        display: flex;
        background: $degrade-primary;
        box-shadow: 0 0 10px $color-secondary;
        max-width: 700px;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        border-radius: 2rem;
        font-size: 1.1rem;
        margin: auto;
        margin-top: 1.5rem;
        color: #fff;
        animation: button 3s ease infinite;
        text-transform: uppercase;
        z-index: 1;
        position: relative;

        @media screen and (max-width:540px){
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        i {
            margin-right: 0.5rem;
            font-size: 1.2rem;
        }
    }

    @keyframes button {
        0%, 100% {
            transform: matrix(1,0,0,1,0,0);
        }

        50% {
            transform: matrix(1.05,0,0,1.05,0,0);
        }
    }
//ELEMENTS END